@import "../../static/style/auto-sprite.scss";
@import "../../static/style/px2rem-sprite.scss";

.layout__msg {
    position: relative;
    width: 100%;
    background: #e7eaf1;
    padding-bottom: .46rem;
}

.msg__bgimg {
    position: relative;
    margin: .3rem auto .1rem;
    @include sprite2rem($bg-message);
}

.msg__textctner {
    position: relative;
    width: 3rem;
    margin: auto;
    text-align: center;

    .text {
        font-family: PingFangSC-Semibold;
        font-weight: bold;
        font-size: .16rem;
        line-height: .22rem;
        color: #999999;
        letter-spacing: 0;
    }
}

.msg__notlogin {
    position: absolute;
    width: 3rem;
    height: 1.14rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    .prompt {
        line-height: .22rem;
        font-family: PingFangSC-Semibold;
        font-weight: bold;
        font-size: .16rem;
        color: #999999;
        letter-spacing: 0;
        margin-bottom: .2rem;
    }

    .login-btn {
        width: 2rem;
        height: .5rem;
        background: #333333;
        font-family: PingFangSC-Semibold;
        font-weight: bold;
        font-size: .15rem;
        line-height: .5rem;
        color: #FFFFFF;
        letter-spacing: 0;
        margin: auto;
    }
}

.msg__loading {
    width: .3rem;
    height: .6rem;
    margin: 0 auto;
    background-image: url(../../static/img/loading.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.msg__lastreadhere {
    position: relative;
    font-size: .12rem;
    color: #999999;
    letter-spacing: 0;
    margin: .2rem auto;
    text-align: center;

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        height: 1px;
        border-left: 1.28rem dashed #C8C8C8;
        border-right: 1.28rem dashed #C8C8C8;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}
