.layout__counter {
	position: relative;
    width: 2rem;
    height: .3rem;
    left: 0;
    right: 0;
    margin: .6rem auto 0 auto;
    text-align: center;
}

.counter__btn {
    width: .5rem;
    height: .3rem;
    border-radius: .15rem;
    font-weight: bold;
}

.counter__btn--l {
    @extend .counter__btn;
    float: left;
}

.counter__btn--r {
    @extend .counter__btn;
    float: right;
}

.counter__total {
    height: .3rem;
    line-height: .3rem;
}
