<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="keywords" content="全民话题,全民,话题,热议,焦点,评论,新闻,时事,热点,事件,社会,时政,经济,文化,教育,娱乐,体育,军事,自媒体">
<meta name="description" content="发现你关心的热点事件，用不同视角探索新闻">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="applicable-device" content="pc,mobile">
<meta name="apple-mobile-web-app-title" content="全民话题">
<meta name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- <meta name="robots" content="noarchive"> -->
<!-- <meta name="Baiduspider" content="noarchive"> -->
<link rel="dns-prefetch" href="//mjs.sinaimg.cn">
<link rel="dns-prefetch" href="//simg.sinajs.cn">
<link rel="apple-touch-icon-precomposed" href="http://simg.sinajs.cn/products/news/items/2017/top_topics/img/logo-share.png">
