@import "../../static/style/auto-sprite.scss";
@import "../../static/style/px2rem-sprite.scss";

.backtop {
	position: fixed;
	bottom: 1.16rem;
    right: .16rem;
	z-index: 300;
	@include sprite2rem($btn-backtop);
}

@media screen and (min-width: 769px) {
    .backtop {
        position: fixed;
        bottom: 1.16rem;
        right: auto;
        margin-left: 640px;
        z-index: 300;
        @include sprite2rem($btn-backtop);
    }
}
