@import "../../static/style/auto-sprite.scss";
@import "../../static/style/px2rem-sprite.scss";

.backtop {
	position: fixed;
	bottom: .5rem;
    right: .15rem;
	z-index: 250;
	@include sprite2rem($btn-backtop);
}

@media screen and (min-width: 769px) {
    .backtop {
        position: fixed;
        bottom: .5rem;
        right: auto;
        margin-left: 640px;
        z-index: 250;
        @include sprite2rem($btn-backtop);
    }
}
