// 设计稿提供的是2倍图

@mixin sprite-width2rem($sprite) {
  width: nth($sprite, 5) / 200px * 1rem;
}

@mixin sprite-height2rem($sprite) {
  height: nth($sprite, 6) / 200px * 1rem;
}

@mixin sprite-position2rem($sprite) {
  $sprite-offset-x: nth($sprite, 3) / 200px * 1rem;
  $sprite-offset-y: nth($sprite, 4) / 200px * 1rem;
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image2rem($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
  background-size: $spritesheet-width / 200px * 1rem auto;
}

@mixin sprite2rem($sprite) {
  @include sprite-image2rem($sprite);
  @include sprite-position2rem($sprite);
  @include sprite-width2rem($sprite);
  @include sprite-height2rem($sprite);
}
